<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">사용자 이름</label>
    <div class="controls">
      <input type="text" ng-model="user.name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">E-Mail</label>
    <div class="controls">
      <input type="text" ng-model="user.email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">가입 날짜</label>
    <div class="controls">
      <input type="text" ng-model="user.regDate">
    </div>
  </div>
  <div class="control-group">
      <div class="controls">
        <button type="button" class="btn" ng-click="back()">뒤로가기</button>
      </div>
    </div>
  </div>
</form>