.btn-container{
	position: relative;
}

.ani-button {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
	position: absolute;
	top: 8px;
	left: 12px;
}

.ani-button.ng-hide-remove{
	-webkit-transition: 36s;
	-o-transition: 36s;
	transition: 36s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: absolute;
	top: 8px;
	left: 12px;
}

.ani-button.ng-hide{
	-webkit-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-o-transform: rotateY(90deg);
	transform: rotateY(90deg);
}

.ani-repeat.ng-enter {
  -webkit-animation: 0.5s opacity-bright-animation;
  animation: 0.5s opacity-bright-animation;
}

.ani-repeat.ng-leave {
  -webkit-animation: 0.5s  opacity-dim-animation;
  animation: 0.5s  opacity-dim-animation;
}

.ani-repeat.ng-move {
  -webkit-animation: 0.5s opacity-bright-animation;
  animation: 0.5s opacity-bright-animation;
}

@keyframes opacity-bright-animation {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes opacity-bright-animation {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes opacity-dim-animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes opacity-dim-animation {
  from { opacity:1; }
  to { opacity:0; }
}

.my-div {
 -webkit-transition: opacity 0.6s ease-in;
 -o-transition: opacity 0.6s ease-in;
 transition: opacity 0.6s ease-in;	
 opacity: 0;
}

.my-div:hover {
 opacity: 1;
}
